*{
    background-color: #5D6D7E;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body > h1{
    margin-left: 23em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divEjemplo{
    border:2px solid green;
}

.cuadrado{
    width:200px;
    height:200px;
    border:1px solid black;
}

input#terminos{
    margin-left: 10em;
}

label:last-of-type{
    width: 10em;
}

input[type=checkbox]#terminos{
    margin-left: 1em;
}
.error{
    color:red;
}

.inputErroneo{
    border:1px solid red;
    color:white;
    background-color: pink;
}

.inputCorrecto{
    border:1px solid green;
    color:white;
    background-color: aquamarine;
}

.cuadroEjercicios{
    width:100%;
    border:1px solid black;
    margin-bottom: 10px;
}

input[type=text], select, textarea{
    width: 20%;
    padding: 1em;
    border: 0.1em solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
    clear: both;
}

label {
    display: inline-block;
    width:100px;
    text-align: right;
  }

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
  